@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');


/* font-family: 'Roboto Slab', serif;
font-family: 'Open Sans', sans-serif; */


*{
    margin: 0;
    padding: 0;
    background-color: #709fdc;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: #071739;
}
body{
    /* height: 100vh; */
}

/* PAGINA DE INICIO */
.inicio{
    height: 100vh;
    width: 100vw;
    background-color: #071739 !important;
    color: #b9d5fd;
}
    .splash{
        width: 100vw;
        display: grid;
        grid-gap: 0;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10,auto);
        height: 100vh;
        background-color: inherit;
        color: inherit;
    }
    .miTitulo{
        background-color: #071739;
        color: #b9d5fd;
        font-family: 'Roboto Slab', serif;
        font-size: 1.5rem;
        text-align: center;
        grid-column: 2/10;
        grid-row: 5/6;
    }
    .cargando{
        background-color: inherit;
        color: inherit;
        grid-column: 2/10;
        grid-row: 10/11;
        text-align: center;
        font-size: .7rem;
    }



/* CARACTERISTICAS GENERALES */
h2{
    padding-top: 1rem;
    font-family: 'Open Sans', sans-serif;
}
.button{
    background-color: #b9d5fd;
    height: 3rem;
    font-family: 'Roboto Slab', serif;
}

.container{
    width: 100vw;
    display: grid;
    grid-gap: 0;
    /* grid-template-columns: repeat(10fr); */
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 3rem 90% auto;
    /* max-height: 100vh; */
    height: 100vh;

    /* background-color: blanchedalmond; */
}

nav{
    /* background-color: brown; */

    grid-column: 1/11;
    grid-row: 1/2;
    z-index: 10;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.50);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.50);
    display: grid;
    /* width: 100vw; */
    /* grid-template-columns: repeat(11fr); */
    grid-template-rows: 1fr;

}
    #menu{
        grid-row: 1/2;
        margin: auto;
        margin-left: 2rem;
    }

    #titulo{
        /* grid-column: 3/12; */
        grid-row: 1/2;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: -2rem;
    }

.content{
    /* background-color: aquamarine; */
    grid-column: 2/10;
    grid-row: 2/3;
    padding-top: .5rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

#panel{
    z-index: 20;
    grid-column: 1/9;
    /* grid-column: 0/0; */
    grid-row: 1/4;
    /* background-color: coral; */
    -webkit-box-shadow: 3px 0px 8px 0px rgba(0,0,0,0.50);
    -moz-box-shadow: 3px 0px 8px 0px rgba(0,0,0,0.50);
    box-shadow: 3px 0px 8px 0px rgba(0,0,0,0.50);
    display: none;
    /* transition: 4s cubic-bezier(0.19, 1, 0.22, 1) ease; */
    transition-duration: 10s;
    height: 100vh;
}
.sombra{
    z-index: 19;
    grid-row: 1/4;
    grid-column: 1/11;
    width: 100%;
    height: 100%;
    background-color: #000c;
    display: none;
}

#alerta{
    z-index: 22;
    grid-column: 1/11;
    grid-row: 1/4;
    background-color: #000c;
    /* display: grid; */
    grid-template-columns: repeat(10, 1fr);
    display: none;
}
    .contAlerta {
        grid-column: 2/10;
        height: auto;
        margin: auto 0;
        padding: .5rem;
    }
    .contAlerta p, .contAlerta button{
        margin-top: .5rem;
        margin-bottom: .5rem;
    }

a, a:visited{
    color: azure;
}

button{
    border-style: none;
    width: 100%;
    padding: 1rem;
}

button:hover{
    background-color: aliceblue;
}

button:active{
    color: aqua;
    background-color: aliceblue;
}

.cerrar{
    /* float: right; */
    margin: .5rem;
    background-color: inherit;
    grid-column: 4/5;
    margin-left: auto;
    margin-right: auto;
}
#cerrarPanel{
    /* background-color: rgb(66, 65, 65); */
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

#primerIngreso, .gastoAdicional{
    /* padding-top: 2rem; */
    /* background-color: red; */
    grid-column: 1/9;
    display: grid;
    grid-template-columns: repeat(8,1fr);
}
form h2, form #meta, form #ciclo, form #miObjetivo, input[type=submit]{
    grid-column: 1/9;
    width: 100%;
}

input[type=number]{
    width: 100%;
}


input, select, textarea{
    font-family: 'Roboto Slab', serif;
    font-weight: 100;
    border-style: none;
    padding: .5rem 0;
    /* width: 95%; */
    background-color: aliceblue;
}

/* input::placeholder{
    color: red;
} */

#moneda{
    width: 95%;
    /* text-align: center; */
    /* padding-right: 3% */
    grid-column: 1/3
}

#presupuestoInicial{
    width: 100%;
    grid-column: 3/9;
}

input[type=submit]{
    /* background-color: blue; */
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* width: 95%; */
    margin: 1rem 0;

}

/* para sacar las ruedas de los numeros */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* remove default arrow */
    background-image: url(../img/angle-down-solid.svg);    /*add custom arrow */
    background-repeat: no-repeat;
    background-position: 95% center ;
    background-size: 1rem;
 }

#ciclo{
    width: 100%;
}

/*seguimientoPrincipal*/

.seccionSeguimiento{
    grid-column: 1/8;
    padding: 1rem;
}

.dias{
    text-align: center;
}
    .dias p, .dias span {
        font-size: 1.5rem;
        color: #b9d5fd;
    }

#disponible, #metaActual{
    width: 100%;
    height: 4rem;

    text-align: center;
}
    .seguimiento{
        background-color: aliceblue;
    }

.progressBar {
    background-color: #b9d5fd;
    border-radius: 1rem;
    height: 20rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 1rem;
    grid-column: 8/9;
    margin-left: auto;
    margin-right: auto;
    transform: rotate(180deg)
}

.progreso {
    background-color: #095c15;
    /* width: 90%; */
    /* height: 80%; */
    border-radius: 1rem;
}

.agregarGasto{
    grid-column: 1/9;
}

.agregarIngreso{
    grid-column: 1/9;
}


.verEstadisticas{
    grid-column: 1/9;
}

#nuevoIngreso{
    /* margin-top: 1rem; */
    /* display: grid;
    grid-template-columns: repeat(10, 1fr); */
    z-index: 15;
    background-color: #000c;
    grid-row: 1/4;
    grid-column: 1/11;
    /* padding-top: 5rem;
    padding-left: 3rem; */
    display: none;
}
    #displayIngreso{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 100vh;
    background-color: #ffffff00;
    }

    .nuevoIngreso {
        grid-column: 2/10;
        max-height: 50vh;
        margin: auto 0;
        padding: 1rem;
    }
    #nuevoIngreso label, #nuevoIngreso input{
        width: 100%;
        grid-column: 1/9;
    }


    /* #enviarIngreso{
        width: 70% !important;
    }
    #cancelar{
        
    } */
    #enviarIngreso, #cancelar{
        /* margin-top: 1rem; */
        padding-top: .5rem;
        padding-bottom: .5rem;
        width: 100% !important;
    }


/*gastoAdicional*/

/* .relleno{
    grid-column: 1/9;
} */

#tipoImporte label {
    grid-column: 1/8;
    padding-top: .7rem;
    padding-bottom: .7rem;
    margin-bottom: .2rem;
    /* text-align: center; */
}
#tipoImporte{
    grid-column: 1/9;
}
#importeGastado{
    grid-column: 1/9;
    padding-top: .7rem;
    padding-bottom: .7rem;
    margin-bottom: 1rem;
}

input[type="radio"] {
    display:none;
}

.categoria{
    text-align: center;
}

/* #tipoImporte label {
    display: inline-block;
    background-color: #ddd;
    padding: 4px 11px;
    font-family: Arial;
    font-size: 16px;
    cursor: pointer;
  } */

  #tipoImporte span {
    text-align: center;
    border-style: solid;
    border-radius: 100%;
    margin: auto;
    padding: .25rem .7rem;
    border-width: .1rem;
}

#tipoGasto label, #importeGastado label{
    padding-left: 3rem;
}

#tipoImporte input[type="radio"]+label{
    /* padding-left: 3rem; */
  }


#tipoImporte input[type="radio"]:checked+label {
    background-color: #274684;
    color: #b9d5fd;
    /* padding-left: 3rem; */
  }

/* label span{
    padding-left: 4rem;
    background-color: aliceblue;
} */

.volverGasto{
    grid-column: 5/9;
}
.listGasto{
    grid-column: 1/4;
}

.categoria{
    background-color: aliceblue;
}

.explicacion{
    display: none;
}



    /* ESTADISTICAS */

.seccionEstadisticas{
    grid-column: 1/9;
}
    .seccionEstadisticas p{
        padding: .5rem;
        margin: .2rem;
        background-color: aliceblue;
    }
    .seccionEstadisticas p span{
        background-color: inherit;
        color: inherit;
    }
    .seccionEstadisticas .miTotal{
        background-color: #274684;
        color: #b9d5fd;
        margin-bottom: 2rem;
    }

.volver{
    grid-column: 1/9;
    height: 3rem;
}